html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #000000;
	color: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 1vw;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-family: 'sonoshandbookprolight', sans-serif;
	height: 100vh;
	overflow: hidden;

}

#zone-container,
#music-sources-container {
	display: none;
}

#status-container {
	height: 100%;
}



#current-track-info p {
	margin: 0.5vw;
}

#current-track-info #track {
	font-weight: bold;
}

#current-track-info #artist,
#current-track-info #album {
	color: #ccc;
}



#controls {
	text-align: center;
}

#controls img {
	transition: background 0.2s ease-out;
}

#controls img:active {
	background: #aaa;
	transition: background 0s;
}

#master-volume,
#player-volumes .volume-bar {
	margin: 3vh 3vw;
	position: relative;
}

#master-volume .tooltip,
.volume-bar .tooltip {
	position: absolute;
	margin-top: -4vh;
	padding: 4px 6px 2px;
	border-radius: 1vh;
	background: #333;
}

#master-volume .tooltip.hide,
.volume-bar .tooltip.hide {
	display: none;
}

.volume-bar .background,
#master-volume .background {
	background: #fff;
	height: 1px;
	width: calc(100% - 12px);
	position: absolute;
}

#player-volumes-container {
	transition: max-height .3s ease-out;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #000;
	opacity: .8;
	max-height: 0;
	position: absolute;
	bottom: 10vh;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}

#player-volumes-container.show {
	max-height: 100%;
}

