body {
	font-size: 3vw;
}

#current-track-info {
	width: calc(50% - 4px);
	height: calc(100% - 16px);
	position: absolute;
	right: 0;
	padding: 1vh;
	padding-left: 5vh;
	vertical-align: bottom;
	background-image: linear-gradient(left, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
}

#current-track-info .next-track {
	font-size: 2vw;
}

#current-track-art {
	height: calc(100vh - 16px);
	float: left;
}

#controls {
	width: calc(100% - 20px);
	position: absolute;
	bottom: 0;
}

#controls img {
	width: 8vw;
	height: 8vw;
	transition: background 0.05s;
	border-radius: 4vw;
}

#master-volume .scrubber,
.volume-bar .scrubber {
	width: 4vh;
	height: 4vh;
	border-radius: 2vh;
	background: #fff;
}
#master-volume .background,
.volume-bar .background {
	top: 2vh;
}

#master-volume .tooltip,
.volume-bar .tooltip {
	padding: 4px 6px 2px;
    font-size: 3vh;
    margin-top: -5vh;
}


#player-volumes h6 {
    font-size: 4vh;
    margin: 1.5vh 5vh -2vh;
}

#player-volumes-container {
	width: 49vw;
	margin-left: 50vw;

}


