@import url('landscape.css') (orientation:landscape);
@import url('portrait.css') (orientation:portrait);

html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	background: #000000;
	color: #fff;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 8px;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-family: 'Nunito', sans-serif;

}

#zone-container,
#music-sources-container {
	display: none;
}



#current-track-info p {
	margin: 0.5vw;
}

#current-track-info #track {
	font-weight: bold;
}

#current-track-info #artist,
#current-track-info #album {
	color: #ccc;
}



#controls {
	text-align: center;
}

#controls img {
	transition: background 0.2s ease-out;
}

#controls img:active {
	background: #aaa;
	transition: background 0s;
}

#master-volume {
	margin: 3vh 3vw;
	position: relative;
}

#master-volume .tooltip {
	position: absolute;
	margin-top: -6vh;
	padding: 2px 6px;
	border-radius: 1vh;
	background: #333;
	display: none;
}

#master-volume .tooltip.show {
	display: block;
}

#master-volume .background {
	background: #fff;
	height: 1px;
	width: calc(100% - 12px);
	position: absolute;
}

