html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	background: #000000;
	color: #fff;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 8px;
	font-family: Arial, sans-serif;
	font-size: 5vw;
	-moz-user-select: none;
	-webkit-user-select: none;

}

#zone-container,
#music-sources-container {
	display: none;
}

#current-track-info {
	width: calc(100% - 8px);
	position: absolute;
	bottom: 0;
	padding-top: 1vh;
	background-image: linear-gradient(top, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, rgba(0, 0, 0, 0.87) 5vh);
}

#current-track-info p {
	margin: 0.5vw;
}

#current-track-info #track {
	font-weight: bold;
}

#current-track-info #artist,
#current-track-info #album {
	color: #ccc;
}

#current-track-info .next-track {
	font-size: 4vw;
}

#current-track-art {
	width: 100%;
}

#controls {
	text-align: center;
}

#controls img {
	width: 17vw;
	height: 17vw;
	transition: background 0.05s;
	border-radius: 8.5vw;
}

#controls img:active {
	background: #aaa;
}

#master-volume {
	margin: 3vh 3vw;
	position: relative;
}

#master-volume .background {
	background: #fff;
	height: 1px;
	width: calc(100% - 12px);
	position: absolute;
	top: 6px;
}

#master-volume .scrubber {
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #fff;
}