html {
}
body {
	background: #515151;
	background-image: linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -moz-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -webkit-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	background-image: -ms-linear-gradient(top, rgb(81,81,81) 30px, rgb(0,0,0) 130px);
	color: #fff;
	font-family: Arial, sans-serif;
	min-width: 800px;
	margin: 5px 5px 0 5px;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	height: 100vh;
	text-shadow: #111 0px -1px;
}

h4 {
	font-size: 13px;
}

#top-control {
	margin-bottom: 10px;
	position: relative;
}

/* grey container */
#top-control {
	border-radius: 5px;
	border-top: 2px solid #1A1A1A;
	border-left: 2px solid #1A1A1A;
	border-bottom: 2px solid #2D2C2C;
	border-right: 2px solid #2D2C2C;

	background: #000;
	height: 80px;
	background-image: -moz-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: -ms-linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
	background-image: linear-gradient(bottom, rgb(37,37,37) 5%, rgb(81,81,81) 95%);
}

/* blue container */
#zone-container h4,
#status-container h4,
#music-sources-container h4 {
	background-image: -moz-linear-gradient(top, #002C4D 2%, #001C38 90%);
	background-image: -webkit-linear-gradient(top, #002C4D 2%, #001C38 90%);
	background-image: linear-gradient(top, #002C4D 2%, #001C38 90%);
	margin: 0;
	color: #0A97FF;
	font-size: 15px;
}

#status-container h4#now-playing {
	background-image: -moz-linear-gradient(top, rgb(7,79,131) 0%, rgb(9,58,94) 100%);
	background-image: -webkit-linear-gradient(top, rgb(7,79,131) 0%, rgb(9,58,94) 100%);
	background-image: linear-gradient(top, rgb(7,79,131) 0%, rgb(9,58,94) 100%);
	border-bottom: 1px solid rgb(1,36,64);
	color: #fff;
}

#status-container h4#queue {
	border-radius: 0;
}

#status-container #current-track-info {
	background-image: -moz-linear-gradient(top, rgb(5,68,114) 10%, #021B2E 100%);
	background-image: -webkit-linear-gradient(top, rgb(5,68,114) 10%, #021B2E 100%);
	border-top: 1px solid rgb(37,85,125);
	height: 224px;
	padding-top: 10px;
	padding-left: 5px;
}

#status-container #current-track-info div,
#status-container #current-track-info img {
	display: inline-block;
	vertical-align: top;
}

#status-container #current-track-info div {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 1px;
	width: calc(100% - 220px);
	overflow: hidden;
	word-wrap: nowrap;
}

#status-container #current-track-info div p {
	height: 36px;
	width: 100%;
}

#status-container h6 {
	color: rgb(4,90,218);
	font-weight: normal;
	font-size: 14px;
	margin: 0;
}

#status-container h5 {
	color: rgb(4,90,218);
	font-size: 14px;
	margin: 0;
	margin-top: 4px;
}

#status-container p {
	margin: 0;
	font-size: 14px;
}

/* rounded containers */
#top-control,
#zone-container,
#status-container,
#music-sources-container
{
	border-radius: 5px;
}

#column-container {
	text-align: justify;
	height: calc(100% - 105px);
}

#zone-container,
#status-container,
#music-sources-container {
	width: -webkit-calc((100% - 15px) / 3);
	width: calc(40% - 4px);
	display: inline-block;
	height: 100%;
	height: calc(100vh - 105px);
	background: #021B2E;
	vertical-align: top;
	overflow: hidden;
}

#zone-container,
#music-sources-container {
	width: calc(30% - 4px);
}

#zone-container h4,
#status-container h4,
#music-sources-container h4 {
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #000000;
	border-radius: 5px 5px 0 0;
}

#zone-wrapper {
	border-top: #012947 solid 1px;
}

#music-sources-container {
	position: relative;
	background-image: url(../images/s_bloom_20.png), radial-gradient(circle at bottom right, #043B63 0, #021B2E 180px);
	background-position: bottom right;
	background-repeat: no-repeat;

}

#master-volume {
	width: 180px;
	height: 21px;
	top: 28px;
	left: 50px;
	border-radius: 15px;
	border-top: 1px solid #303030;
	border-bottom: 1px solid #707070;
	position: absolute;

	background-image: -moz-linear-gradient(bottom, rgb(81,81,81) 5%, rgb(37,37,37) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(81,81,81) 5%, rgb(37,37,37) 95%);

}
#master-volume img {
	margin: -1px 1px;
}

#master-mute {
	position: absolute;
	top: 24px;
	left: 10px;
}

#controls {
	height: 44px;
	width: 124px;
	margin: 7px auto 0;
}

#position-info {
	height: 22px;
	width: 440px;
	margin: 7px auto 0 auto;
	position: relative;
}

#position-info .left {
	position: absolute;
	left: 0;
}

#position-info .right {
	position: absolute;
	right: 0;
}

#position-info .content {
	margin: 0px 38px 0 38px;
	height: 22px;
	background-image: url(../images/tc_progress_container_center.png);
	font-size: 11px;
	color: #666;
	text-shadow: #111 0px -1px;
}

#position-info .content span,
#position-info .content img,
#position-info .content div {
	display: inline-block;
	vertical-align: middle;
}

#position-info .content #countup {
	margin-left: 26px;
}

#position-info .content #countdown {
	margin-right: 20px;
}

#position-bar-scrubber {
	margin-top: -15px;
}

#position-bar {
	height: 4px;
	width: 150px;
	border-radius: 3px;
	border-top: 1px solid #101010;
	border-bottom: 1px solid #606060;
}

#zone-wrapper ul {
	background-image: -moz-linear-gradient(top, #04304F 0px, #032540 24px);
	background-image: -webkit-linear-gradient(top, #04304F 0px, #032540 24px);
	margin: 10px;
	padding: 10px 10px 10px 46px;
	border-radius: 5px;
	border-top: 1px solid #054367;
	border-right: 1px solid #032B4A;
	border-left: 1px solid #032C4B;
	border-bottom: 1px solid #032B4A;
	position: relative;
}

#zone-wrapper ul.selected {
	background-image: -moz-linear-gradient(top, #07558C 0px, #0A4069 24px);
	background-image: -webkit-linear-gradient(top, #07558C 0px, #0A4069 24px);
	border-top: 1px solid #086EAA;
	border-right: 1px solid #003F6C;
	border-left: 1px solid #02375E;
	border-bottom: 1px solid #01365D;
}

#zone-wrapper ul:hover {
	background-image: -moz-linear-gradient(top, #096EB6 0px, #0E568D 24px);
	background-image: -webkit-linear-gradient(top, #096EB6 0px, #0E568D 24px);
}


#zone-wrapper ul li {
	list-style: url(../images/wdcr_zm_ic_bedroom.png);
	padding-top: 3px;
	cursor: pointer;
}

#zone-wrapper ul li.drag {
	outline: 2px #ddd dashed;
	cursor: move;
}

#zone-wrapper ul span {
	vertical-align: super;
	font-size: 14px;
}

#favorites-container,
#queue-container {
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: calc(100% - 40px);
	overflow: auto;
	border-top: 1px solid #012947;
}

#favorites-container li,
#queue-container li {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 2px;
	font-size: 14px;
	width: 100%;

}

#favorites-container li img,
#queue-container li img {
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-right: 3px;
	display: inline-block;
}

#queue-container li div {
	display: inline-block;
	width: calc(100% - 43px);
}

#queue-container li div p {
	margin: 0;
	line-height: 18px;
	font-size: 13px;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}

#queue-container li div p.artist {
	color: #aaa;
}

#favorites-container li span {
	padding: 3px;
	line-height: 22px;
}

#queue-container {
	height: calc(100% - 316px);
}


::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}